<img src="<%=@picture.url%>" alt="Image" height="20%" width="20%">

<h2> This picture is full of : <%=@picture.highest_emotion %></h2>


<p> <%= @picture.text.split('=')[1].split("+").join(" ") %> </p>

<h2> This text is <%=@picture.text_feeling %> </h2>
